@import "./components/variables";
@import "./components/common";

.header {
  padding-top: 32px;
  padding-bottom: 30px;

  &__nav {
    width: 100%;
    max-width: 1560px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    max-width: 700px;
    width: 100%;
  }

  &__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    text-align: center;
    letter-spacing: 0.1px;
    transition: opacity .4s ease-in-out;

    &:hover {
      opacity: .4;
    }
  }

  &__button {
    padding: 12px 40px;
    background-color: transparent;
    border: 2px solid $black;

    font-weight: bold;
    font-size: 14px;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}

.hero-section {

  &__wrapper {
    padding-top: 173px;
    padding-bottom: 168px;

    width: 100%;
    background-image: url(./static/images/wallet.png),
    url(./static/images/elastic-tilted.png),
    url(./static/images/vuejs-tilted.png),
    url(./static/images/django-tilted.png),
    url(./static/images/laptop-img.png), 
    url(./static/images/background.png);


    background-repeat: no-repeat;
    background-position: top 188px right 495px,
    top 359px right 102px,
    top 95px right 200px,
    top 236px right 185px,
    bottom -38px right -162px, 
    center center;
  }

  &__content {
    padding: 0 10px; 
  }

  &__title {
    margin: 0 0 26px 0;
    width: 335px;

    font-weight: bold;
    font-size: 64px;
    line-height: 72px;
  }

  &__text {
    margin: 0 0 46px 0;
    width: 570px;

    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
  }

  &__button {
    padding: 24px 80px;
    font-size: 16px;
    
    border: none;
    background-color: $blue;
    color: $white;

    &:hover {
      background-color: $yellow;
    }

  }
}

.pitch {
  padding-top: 100px;
  overflow: visible;

  background-image: url(./static/images/box.png),
  url(./static/images/purse.png),
  url(./static/images/bulb.png),
  url(./static/images/clock.png),
  url(./static/images/dices.png),
  url(./static/images/like-message.png),
  url(./static/images/toy-bricks.png),
  url(./static/images/chat-message.png),
  url(./static/images/bg-box.png);
  background-position: top 188px left 48px, 
  top 317px left 422px, 
  top 389px left 512px, 
  top 484px left 469px, 
  top 484px left 416px, 
  top 323px left 365px, 
  top 331px left 42px, 
  top 509px left 256px, 
  top 340px left 116px;
  background-repeat: no-repeat;


  &__title {
    width: 630px;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    margin: 0 0 25px 0;
  }
  &__description {
    margin-bottom: 95px;
    width: 485px;
    font-size: 20px;
    line-height: 32px;
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;

    padding-bottom: 77px;

    &-item {
      padding: 0 20px;
    }
  }

  &__image-wrapper {
    position: relative;
    padding-bottom: 100px;

    &::before {
      content: "";
      display: inline-block;
      width: 100px;
      height: 100px;
      background-color: #C5DBF1;
      border-radius: 50%;
      position: absolute;
    }
  }

  &__image {
    position: absolute;
    
    &--one {
      width: 175px;
      position: absolute;
      margin-left: -35px;
      margin-top: -15px;
    }

    &--two {
      width: 113px;
      margin-top: -24px;
      margin-left: -5px;
    }
    
    &--three {
      width: 99px;
      margin-top: -13px;
    }

    &--four {
      width: 112px;
      margin-top: -15px;
    }
  }


  &__text {
    width: 463px;

    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 100px;
  }  

  &__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
    top: 50%;
    left: 50%;

  }
}

.dev {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  padding-top: 325px;
  padding-bottom: 265px;
  margin-bottom: 155px;
  
  background-color: $blue;
  position: relative;

  &__title {
    flex-basis: 100%;
    display: flex;
    justify-content: center;

    margin-bottom: 21px;
  }
  
  &__text {
    width: 750px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: $white;
  }

  &__arrow {
    position: absolute;

    &--one {
      opacity: 0.4;

      top: 158px;
      left: 380px;
    }

    &--two {
      opacity: 0.6;

      top: 151px;
      left: 785px;
    }

    &--three {
      opacity: 0.2;

      top: 94px;
      right: 585px;
    }

    &--four {
      opacity: 0.6;

      top: 434px;
      right: 370px;
    }

    &--five {
      opacity: 0.6;

      bottom: 254px;
      left: 405px;
    }

    &--six {
      bottom: 97px;
      right: 518px;
    }

    &--seven {
      opacity: 0.3;

      left: 705px;
      bottom: -20px;
    }
  }
}

.services {
  padding-bottom: 25px;

  &__header {
    width: 435px;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;

    margin-bottom: 50px;
  }

  &__card {
    display: flex;
    align-items: center;

    margin-bottom: 142px;
  }
  
  &__image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 440px;
    padding-bottom: 40%;
    margin-right: 81px;

    background: $white;
    border: 5px solid #3A3A3A;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: none;
    width: 100.5%;  
  }

  .logo {
    width: 179px;
  }

  .catalog {
    width: 331px;
  }

  .integrations {
    width: 396px;
  }

  &__content {
    max-width: 479px;
  }

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    margin-top: -30px;
    margin-bottom: 15px;
  }

  &__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 25px;
  }

  &__list {

    & > li {
      font-size: 18px;
      line-height: 28px;
    }

    & > li:last-of-type {
      color: $red;
    }

    & > li::before {
      content: "+";
      margin-right: 15px;
      color: $blue;
    }

    & > li:last-of-type::before {
      content: "-";
      margin-right: 15px;
      color: $red;
    }
  }
}

.form-section {
  background-image: url(./static/images/brackets.png);
  background-repeat: no-repeat;
  background-position: top 20px left 11px;

  background-color: $super-light;
  padding: 85px 58px 85px 540px;
  margin-bottom: 140px;
}

.form {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;

  &__header {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;

    margin-top: 0;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 18px;
    line-height: 28px;

    margin-top: 5px;
    margin-bottom: 50px;
  }

  &__fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 580px;

    &--blue {
      max-width: initial;
      margin-top: 48px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__label {
    flex: 0 1 48%;
    margin-bottom: 20px;

    &--third {
      flex: 0 1 33%
    }
  }

  &__input {
    height: 72px;
    width: 100%;
    padding-left: 20px;
    margin: 0;

    font-size: 18px;
    line-height: 28px;


    &::placeholder {
      color: $grey;
    }
  }

  &__button {
    @extend .hero-section__button;

    &--third {
      @extend .hero-section__button;
      width: 393px;
      background-color: $yellow;
      color: $white;

      &:hover {
        background-color: $red;
      }
    }
  }

  &__text {
    display: inline-flex;
    flex: 0 1 48%;

    font-size: 14px;
    line-height: 24px;

    color: $grey;

    &--whole {
      flex-basis: 100%;
      font-size: 14px;
      line-height: 24px;

      margin-top: 20px;

      color: $white;
    }
  }
}

.stack {
  background-color: $super-light;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 140px;

  .stack__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .stack__header {
    flex-basis: 100%;

    font-weight: bold;
    font-size: 40px;
    line-height: 48px;

    margin-top: 0;
    margin-bottom: 50px;
  }
}

.cases {

  &__header {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 50px;
  }
}

.case {

  display: flex;
  align-self: center;
  margin-bottom: 40px;

  &__img-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 679px;
    padding-bottom: 33.5%;
    margin-right: 50px;

    border-radius: 15px;
    position: relative;

    cursor: pointer;

    &::before {
      content: "Смотреть проект";
      width: 100%;
      height: 100%;
      padding-top: 100px;
      margin-left: -100%;
      position: absolute;
      
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $white;

      background-color: $blue;
      background-image: url(./static/images/arrow-right.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 48px 48px;
      opacity: 0.9;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      
      z-index: 100;

      transition: margin-left .4s ease-in-out;
    }

    &:hover::before {
      
      margin-left: 0;

    }
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: none;
    width: 100.5%;  
  }

  &__header {
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
  }
  
  &__results {
    display: flex;
    align-items: center;
  
    & span {
      color: $blue;
      background-color: $super-light;
  
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
  
      display: inline-block;
      max-width: 96px;
      width: 100%;
      padding: 14px 0;
      margin-right: 17px;
      text-align: center;
    }

    & p {
      width: 288px;
    }
  }

  &__company-logo {
    margin-top: 20px;
  }

  
}

.pricing {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 150px;
  margin-bottom: 140px;
  background-color: $blue;

  &__header {
    flex-basis: 100%;
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: bold;
    font-size: 40px;
    line-height: 48px;

    color: $white
  }

  &__text {

    font-size: 18px;
    line-height: 28px;

    color: $white;
  }

  p.pricing__text {
    margin: 0;
    width: 344px;
  }

  &__price {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 14px;
    margin-right: 20px;
    width: 100%;
    max-width: 144px;
    background-color: $white;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }
}

.process {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 120px;

  &__header {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;

    margin-top: 0;
    margin-bottom: 50px;
  }

  &__img-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1180px;
    padding-bottom: 30.5%;
    margin-bottom: 20px;

    border-radius: 15px;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: none;
    width: 100.5%;  
  }

  &__text {
    flex: 0 1 39%;

    font-size: 18px;
    line-height: 28px;
  }
}

.lead {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex: 0 1 44%;

  &__info {
    flex: 0 1 76%;
  }
}

.additional-services {
  margin-top: 46px;
  margin-bottom: 140px;

  &__header {
    margin-top: 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 28px;

    display: inline-block;
    margin-bottom: 40px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 -10px;
  }
}

.service-card {
  padding: 40px 20px 60px 40px;
  margin: 0 10px;

  width: 100%;
  max-width: 380px;
  min-height: 460px;
  overflow: hidden;

  position: relative;
  background-color: transparent;
  background-repeat: no-repeat;
  z-index: 10;

  &--first {
    background-image: url(./static/images/magazine.png);
    background-position: bottom 0 right 0;
    z-index: 10;
  }

  &::after {
    content: "";
    background-image:  radial-gradient(circle, #E8E4FF 178px, 
                                      rgba(230, 228, 255, 0.8) 178px, 
                                      rgba(232, 228, 255, 0.8) 215px,
                                      #EFF7FF 215px);
    width: 618px;
    height: 754px;

    position: absolute;

    top: 0px;
    left: 0px;
    z-index: -10;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 80px;
    height: 80px;
    background-color: $blue;
    background-image: url(./static/images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__header {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
  }

  &__list {
    width: 100%;
    max-width: 262px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &-item {
      padding: 4px 8px;
      font-size: 12px;
      line-height: 16px;

      background-color: $white;
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.footer {
  padding-top: 80px;
  padding-bottom: 68px;
  margin-bottom: 67px;
  background-color: $dark-blue;
  width: 100%;
  
  &__logo {
    max-width: 134px;
    margin-bottom: 53px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 -10px;
  }


  &__section {
    flex-shrink: 0;
    margin: 0 10px;

  }

  &__section-header {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: $white;

    margin-top: 0;
    margin-bottom: 16px;
  }

  &__links > li {
    margin-bottom: 12px;
  }

  &__link {
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;

    display: flex;
    transition: opacity .4s ease-in-out;

    &:hover {
      opacity: .4;
    }

    &.email::before {
      content: url(./static/images/mail.svg);
      margin-right: 16px;
    }

    &.phone::before {
      content: url(./static/images/phone.svg);
      margin-right: 16px;
    }
  }
}

.social-links {

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 -10px;
  }

  &__link {
    margin: 0 10px;
    transition: opacity .4s ease-in-out;

    &:hover {
      opacity: .4;
    }
  }
}