$main-font: 'Gilroy', Arial, sans-serif;

//colors 
$black: #333;
$white: #fff;
$blue: #3454F5;
$yellow: #FFE818;
$light-blue: #C5DBF1;
$grey: #999;
$red: #E46868;

$super-light: #EFF7FF;
$dark-blue: #2E3646;